[alias]
	ad = add

    bi = bisect
    bs = bisect

	br = branch
	ba = branch

    ch = checkout
    ce = checkout

    cl = clone
    cn = clone # conflict with commit, so next letter

	co = commit
	cm = commit

	di = diff
	df = diff
	
	fe = fetch
	ft = fetch
	
	gr = grep
	ge = grep

    in = init
    ii = init

	lo = log -p
	lg = log -p
	
	me = merge
	mr = merge

	pl = pull
	pu = pull  
	uppl = pull
	pllu = pull
	plul = pull
	ppull = pull
	upll = pull
	pll = pull

	ps = push
	psh = push
	upsh = push
	psuh = push
	psh = push

	reb = rebase
	rb = rebase

    res = reset
    rs = reset
    
    sh = show
    so = show
    
	st = status
	sa = status

	su = submodule
    sb = submodule
    
    ta = tag
    tg = tag

    # flag aliases

    diffw = diff --color-words
    diffs = diff --staged
    diffsw = diff --staged --color-words
    showw = show --color-words
    shown = show --name-only
    rmc = rm --cached

    # small programs

    peek = !git fetch && git status

[branch]
	autosetupmerge = true
[user]
	name = Bengt Lüers
	email = bengt.lueers@gmail.com
[branch "master"]
	remote = origin
	merge = refs/heads/master
[push]
	default = simple
[merge]
	tool = meld
[color]
    ui = true
[color "status"]
    added = green dim
    changed = red dim
    untracked = blue dim
[color "branch"]
    current = green black
    local = green dim
    remote = yellow
[color "diff"]
    meta = yellow
    frag = magenta dim
    old = red dim
    new = green dim
    whitespace = magenta dim reverse
[core]
	editor = nano
